@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
}
:root{
    --color-1:#fff;
    --color-4:#000000;
    --color-2:#8D28AD;
    --color-3:#F3F3F3;
    --color-text-3:#fff;
    --color-text-1:#636363;
    --color-text-2:#000000;
    --color-text-4:#222;

}
body.active{
    --color-1:#222;
    --color-2:#8D28AD;
    --color-3:#333;
    --color-4:#fff;
    --color-text-1:white;
    --color-text-1:#F3F3F3;
    --color-text-2:white;
    --color-text-4:#fff;


}
body,html{
    width: 100%;
    overflow-x: hidden;
    background: var(--color-1);
}

/*----------------
Global Style
----------------*/
.SectionTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0 20px 0;
}
.SectionTitle h2{
    color: var(--color-text-2);
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
    text-align: center;
}
.SectionTitle p{
    color: var(--color-text-2);
    opacity: 60%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 580px;
}

.SecondSectionTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.SecondSectionTitle h2{
    color: var(--color-text-2);
    font-size: 600;
    font-weight: 35px;
    line-height: 52.5px;
}
.SecondSectionTitle a{
    text-decoration: none;
    color: var(--color-2);
    font-size: 500;
    font-weight: 16px;
    line-height: 24px;
}
.SecondSectionTitle a i{
    margin-left: 10px;
}
/*----------------
Swiper Style
----------------*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next::after{
    display: none;
  }
  .swiper-button-prev::after{
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev{
      width: 57px !important;
      height: 57px !important;
      background: var(--color-1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 14px 26px rgba(39, 13, 48, 0.25);
  }
  .swiper-button-next i,
  .swiper-button-prev i{
    font-size: 20px;
    color: var(--color-text-4);
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover{
      background: var(--color-2);

  }
  .swiper-button-next:hover i,
  .swiper-button-prev:hover i{
    color: white;
  }
  #Testimonials .TestimonialsSwiper  .swiper-button-next,
  #Testimonials .TestimonialsSwiper  .swiper-button-prev{
      top: auto !important;
      bottom: 10px !important;
      left: auto !important;
      right: 25px !important;
      box-shadow: 0px 7px 20px rgba(141, 40, 173, 0.15) !important;
  }
  #Testimonials .TestimonialsSwiper  .swiper-button-prev{
      margin-right: 70px;
  }
  @media screen and (max-width:992px) {
    .swiper-button-next,
    .swiper-button-prev{
        top: auto !important;
        bottom: 10px !important;
        left: auto !important;
        right: 25px !important;
        background: transparent !important;
        height: 20px !important;
        width: 30px !important;
        box-shadow: none !important;
    }
    #Testimonials .TestimonialsSwiper  .swiper-button-next,
    #Testimonials .TestimonialsSwiper  .swiper-button-prev{
        left: auto !important;
        right: 0px !important;
    }
    #Testimonials .TestimonialsSwiper  .swiper-button-prev{
        margin-right: 40px;
    }
    .swiper-button-next i,
    .swiper-button-prev i{
        color: var(--color-2) !important;

    }
    .swiper-button-next:hover i,
    .swiper-button-prev:hover i{
        color: var(--color-2) !important;
    }
    .swiper-button-prev{
        margin-right: 30px !important;
    }
  }
/*----------------
Header
----------------*/
header{
    height: 150px;
    background: var(--color-1);
    width: 100%;
}

/*----------------
Dekstop Nav
----------------*/
.DekstopNav{
    height: calc(100% - 50px);
    width: 100%;
    padding: 0 100px;
}
.DekstopNav .container{
    height: 100%;
}
.DekstopNav .container .row{
    height: 100%;
}
.DekstopNav .container .row .col-12{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DekstopNav .logo p{
    margin: 0;
    font-weight: bold;
    color: var(--color-text-4);
    font-size: 30px;
}
.DekstopNav .SearchBox div{
    height: 52px;
    width: 550px;
    background: var(--color-3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px 20px;
    transition: all 300ms;
}

.DekstopNav .SearchBox div input{
    border: none;
    outline: none;
    width: 90%;
    background: transparent;
    transition: all 300ms;
    color: var(--color-text-1);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    
}

.DekstopNav .SearchBox div input::placeholder{
    color: var(--color-text-1);
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    transition: all 300ms;
}

.DekstopNav .SearchBox div button{
    border: none;
    outline: none;
    background: transparent;
}
.DekstopNav .BasketDarkMode{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DekstopNav .Basket{
    margin-right: 20px;
}
.DekstopNav .Basket div button{
    background: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-3);
}
.DekstopNav .Basket div a{
    background: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-3);
}
.DekstopNav .Basket div  svg{
    width: 25px;
    height: 25px;
}
.DekstopNav .Basket div  svg path {
    fill: var(--color-4);
}

.DekstopNav .Basket div  .CountDiv{
    position: absolute;
    bottom: -5%;
    right: -10%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-2);
    color: white;
}
.DekstopNav .Basket div  .CountDiv p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin: 0;
}
.DekstopNav .LightNightMode button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 22px;
    background: var(--color-3);
    color: var(--color-text-2);
}
.DekstopNav .LoginRegister{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DekstopNav .LoginRegister a:nth-child(1){
    width: 102px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-1);
    color: var(--color-text-1);
    border-radius: 8px;
    border: none;
    outline: none;
    text-decoration: none;
}
.DekstopNav .LoginRegister a:nth-child(2){
    width: 182px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-2);
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-left: 10px;
    text-decoration: none;
}
/*----------------
Dekstop Menu
----------------*/
.DekstopMenu{
    width: 100%;
    height: 50px;
    background: var(--color-2);
}
.DekstopMenu .container{
    height: 100%;
}
.DekstopMenu .container .row{
    height: 100%;
}
.DekstopMenu .container .row .col-12{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DekstopMenu .container .row .col-12 > ul{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.DekstopMenu .container .row .col-12 > ul  li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    position: relative;
    width: 80px;
}
.DekstopMenu .container .row .col-12 > ul li a{
    color: white;
    text-decoration: none;
    opacity: 60%;

}
.DekstopMenu .container .row .col-12 > ul li.active a{
    color: white;
    opacity: 1;
}
.DekstopMenu .container .row .col-12 > ul li.active span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: white;
    opacity: 50%;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 29px 39px rgba(0, 0, 0, 0.01);
}
.DekstopMenu .container .row .col-12 > ul li .SubMenu{
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--color-2);
    color: white;
    z-index: 100;
    width: 200px;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    visibility: hidden;
}
.DekstopMenu .container .row .col-12 > ul li:hover .SubMenu{
    opacity: 1;
    visibility: visible;
}
.DekstopMenu .container .row .col-12 > ul li .SubMenu ul{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.DekstopMenu .container .row .col-12 > ul li .SubMenu ul li{
    width: 100%;
    height: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.DekstopMenu .container .row .col-12 > ul li .SubMenu ul li:hover a{
    opacity: 1;
}
/*----------------
Mobile Nav
----------------*/
.MobileNav{
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
    padding: 0px 20px 0 0;

}
.MobileNav .container{
    height: 100%;
}
.MobileNav .container .row{
    height: 100%;
}
.MobileNav .container .row .col-12{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MobileNav .hamburger-inner{
    background: var(--color-4);
}
.MobileNav .hamburger-inner::before{
    background: var(--color-4);
}
.MobileNav .hamburger-inner::after{
    background: var(--color-4);
}
.hamburger--elastic.is-active .hamburger-inner::after{
    background: var(--color-4);
}
.hamburger--elastic.is-active .hamburger-inner{
    background: var(--color-4);
}
.MobileNav .logo p{
    margin: 0;
    font-weight: bold;
    color: var(--color-text-4);
    font-size: 30px;
}

.MobileNav  .Basket div a{
    background: transparent;
    border: none;
    outline: none;
    width: 24px;
    height: 20px;
    position: relative;
    text-decoration: none;
}
.MobileNav  .Basket div button{
    background: transparent;
    border: none;
    outline: none;
    width: 24px;
    height: 20px;
    position: relative;

}
.MobileNav  .Basket div  svg{
    width: 100%;
    height: 100%;
}
.MobileNav  .Basket div  svg path{
    fill:var(--color-4);
}
.MobileNav  .Basket div  .CountDiv{
    position: absolute;
    bottom: -60%;
    right: -50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-2);
    color: white;
}
.MobileNav  .Basket div  .CountDiv p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin: 0;
}
/*----------------
Mobile Open Menu
----------------*/

.MobileOpenMenu{
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100%;

    transition: all 500ms;

    z-index:1000;
    overflow: hidden;
    border-top: 1px solid var(--color-3);
}

.MobileOpenMenu.active{
    left: 0%;

}
.MobileOpenMenu .closeMobileOpenMenuDiv{
    position: absolute;
    top: 0;
    left: -100%;
    background: black;
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 700ms;
}
.MobileOpenMenu.active .closeMobileOpenMenuDiv{
    left: 0;
}
.MobileOpenMenu .content{
    background: var(--color-1);
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}
.MobileOpenMenu .content .navList ul{
    padding: 0;
    margin: 0;
}
.MobileOpenMenu .content .navList ul li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    position: relative;
    width: 80px;
}
.MobileOpenMenu .content .navList ul li a{
    color: var(--color-text-1);
    text-decoration: none;


}
.MobileOpenMenu .content .navList ul li.active a{
    color: var(--color-text-2);
}
.MobileOpenMenu .content .LightNightMode button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 22px;
    background: var(--color-3);
    color: var(--color-text-2);
}
.MobileOpenMenu .content .Basket{
    margin: 20px 0;
}

.MobileOpenMenu .content .LoginRegister{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.MobileOpenMenu .content .LoginRegister button:nth-child(1){
    width: 102px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-1);
    color: var(--color-text-1);
    border-radius: 8px;
    border: none;
    outline: none;
}
.MobileOpenMenu .content .LoginRegister button:nth-child(2){
    width: 182px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-2);
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 10px;
}
/*----------------
BottomMenu
----------------*/
.BottomMenu{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 65px;
    padding: 5px 0;
    width: 100%;
    background: var(--color-1);
    box-shadow: 0 0 9px rgb(0 0 0 / 12%);
    z-index: 100;
}
.BottomMenu .content{
    width: 100%;
    height: 100%;
}
.BottomMenu .content ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.BottomMenu .content ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 15px;
}
.BottomMenu .content ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 16px;
    color: var(--color-text-4);
}
.BottomMenu .content ul li a i{
    font-size: 18px !important;
}
/*----------------
Products
----------------*/
#Products {
    padding: 40px 0;
}
#Products .ProductCard{
    margin: 10px 0;
    
}
#Products .ProductCard .content{
    background: var(--color-1);
    box-shadow: 0px 10px 20px rgb(97 105 140 / 10%);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 300ms;
}
#Products .ProductCard .content .HoverDiv{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(9, 30, 66, .7);
    width: 100%;
    height: 100%;
    transition: all 300ms;
    opacity: 0;
}
#Products .ProductCard .content .HoverDiv ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#Products .ProductCard .content:hover {
    transform: translateY(-10px);
}
#Products .ProductCard .content:hover .HoverDiv{
    opacity: 1;
}
#Products .ProductCard .content .HoverDiv ul li:nth-child(1) a{
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    color: #fff;
    width: 160px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #FF416C;
    border-radius: 50px;
    transition: all 400ms;
    text-decoration: none;
    text-align: center;
}

#Products .ProductCard .content .HoverDiv ul li:nth-child(1) a:hover{
    box-shadow: 0 6px 12px -3px rgb(9 30 66 / 40%);
    transform: translate(0, -3px);
    -webkit-transform: translate(0, -3px);
}
#Products .ProductCard .content .HoverDiv ul li{
    margin: 15px 0;
}
#Products .ProductCard .content .HoverDiv ul li a{
    background: transparent;
    color: #fff;
    width: 160px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50px;
    transition: all 400ms;
    text-decoration: none;
    text-align: center;
}
#Products .ProductCard .content .HoverDiv ul li a:hover{
    box-shadow: 0 6px 12px -3px rgb(9 30 66 / 40%);
    transform: translate(0, -3px);
    -webkit-transform: translate(0, -3px);
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    border-color: #FF416C;

}
#Products .ProductCard .content .HoverDiv ul li a i{
    margin-right: 10px;
}
#Products .ProductCard .content .ImgDiv img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
#Products .ProductCard .content .ImgDiv{
    height: 200px;
    border-radius: 10px 10px 0 0;
}
#Products .ProductCard .content .TextDiv{
    padding: 20px;
}
#Products .ProductCard .content .TextDiv .TopText h5{
    font-weight: bold;
    margin-bottom: 7px;
    color: var(--color-text-4);
    font-size: normal;
}
#Products .ProductCard .content .TextDiv .TopText p{
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    color: var(--color-text-1);
    font-size: 16px;
}
#Products .ProductCard .content .TextDiv .BottomText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
#Products .ProductCard .content .TextDiv .BottomText p{
    margin: 0;
    color: var(--color-text-4);
    font-weight: bold;
    font-style: normal;
    line-height: 26px;
}
#Products .ProductCard .content .TextDiv .BottomText i{
    color: #ffc000;
}
/*----------------
Features
----------------*/
#Features{
    padding: 28px 0;
    background: #FCF8FD;
}
#Features .Card{
    padding-top: 20px;
    padding-bottom: 20px;
}
#Features .Card svg{
    height: 47px;
    width: 60px;
    margin: 0;
}
#Features .Card h4{
    color: black;
    font-size: 500;
    font-weight: 22px;
    line-height: 24px;
    margin: 10px 0;
}
#Features .Card p{
    color: black;
    font-size: 400;
    font-weight: 14px;
    line-height: 21px;
    opacity: 50%;
    margin: 0;
}
/*----------------
Best Sellers
----------------*/
#BestSellers .container{
    padding: 0;
}

#BestSellers .container .col-12.SecondSectionTitle{
    padding: 0 25px;
    padding-top: 40px;
}
#BestSellers .container .col-12{
    padding: 0;
}
#BestSellers .BestSellersSwiper{
    padding: 30px 30px;

}
#BestSellers .ProductCard .content{
    background: var(--color-1);
    box-shadow: 0px 10px 20px rgb(97 105 140 / 10%);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 300ms;
}
#BestSellers .ProductCard .content .HoverDiv{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(9, 30, 66, .7);
    width: 100%;
    height: 100%;
    transition: all 300ms;
    opacity: 0;
}
#BestSellers .ProductCard .content .HoverDiv ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#BestSellers .ProductCard .content:hover {
    transform: translateY(-10px);
}
#BestSellers .ProductCard .content:hover .HoverDiv{
    opacity: 1;
}
#BestSellers .ProductCard .content .HoverDiv ul li:nth-child(1) a{
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    color: #fff;
    width: 160px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #FF416C;
    border-radius: 50px;
    transition: all 400ms;
    text-decoration: none;
    text-align: center;
}

#BestSellers .ProductCard .content .HoverDiv ul li:nth-child(1) a:hover{
    box-shadow: 0 6px 12px -3px rgb(9 30 66 / 40%);
    transform: translate(0, -3px);
    -webkit-transform: translate(0, -3px);
}
#BestSellers .ProductCard .content .HoverDiv ul li{
    margin: 15px 0;
}
#BestSellers .ProductCard .content .HoverDiv ul li a{
    background: transparent;
    color: #fff;
    width: 160px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50px;
    transition: all 400ms;
    text-decoration: none;
    text-align: center;
}
#BestSellers .ProductCard .content .HoverDiv ul li a:hover{
    box-shadow: 0 6px 12px -3px rgb(9 30 66 / 40%);
    transform: translate(0, -3px);
    -webkit-transform: translate(0, -3px);
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    border-color: #FF416C;

}
#BestSellers .ProductCard .content .HoverDiv ul li a i{
    margin-right: 10px;
}
#BestSellers .ProductCard .content .ImgDiv img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
#BestSellers .ProductCard .content .ImgDiv{
    height: 200px;
    border-radius: 10px 10px 0 0;
}
#BestSellers .ProductCard .content .TextDiv{
    padding: 20px;
}
#BestSellers .ProductCard .content .TextDiv .TopText h5{
    font-weight: bold;
    margin-bottom: 7px;
    color: var(--color-text-4);
    font-size: normal;
    text-align: start;
}
#BestSellers .ProductCard .content .TextDiv .TopText p{
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    color: var(--color-text-1);
    font-size: 16px;
    text-align: start;
}
#BestSellers .ProductCard .content .TextDiv .BottomText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
#BestSellers .ProductCard .content .TextDiv .BottomText p{
    margin: 0;
    color: var(--color-text-4);
    font-weight: bold;
    font-style: normal;
    line-height: 26px;
}
#BestSellers .ProductCard .content .TextDiv .BottomText i{
    color: #ffc000;
}
/*----------------
Categories
----------------*/
#Categories{
    padding: 40px 0;
    background: var(--color-1);
}
#Categories .CategoriesCard{
    background: var(--color-2);
    border-radius: 10px;
    padding: 30px;
}
#Categories .CategoriesCard a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: start;
}
#Categories .CategoriesCard p:nth-child(1){
    color: var(--color-text-3);
    font-size: 600;
    font-weight: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}
#Categories .CategoriesCard p:nth-child(2){
    color: var(--color-text-3);
    font-size: 500;
    font-weight: 18px;
    line-height: 27px;
    margin-bottom: 0px;
    opacity: 60%;
}
/*----------------
LatestNews
----------------*/
#LatestNews .CardContent{
    background: var((--color-1));
}
#LatestNews .CardContent .ImgDiv{
    height: 210px;
    border-radius: 10px 10px 0 0;
}
#LatestNews .CardContent .ImgDiv img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
#LatestNews .CardContent .TextDiv{
    padding: 25px 0;
}
#LatestNews .CardContent .TextDiv .TopText h4{
    color: var(--color-text-2);
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}
#LatestNews .CardContent .TextDiv .TopText p{
    color: var(--color-text-2);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

}
#LatestNews .CardContent .TextDiv .TopText p span{
    opacity: 50%;
}
#LatestNews .CardContent .TextDiv .TopText a{
    color: var(--color-2);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 100%;
    text-decoration: none;
    margin-left: 5px;
}
#LatestNews .CardContent .TextDiv .BottomText{
    display: flex;
    align-items: center;
}
#LatestNews .CardContent .TextDiv .BottomText .ProfilePhotoDiv{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: gray;
}
#LatestNews .CardContent .TextDiv .BottomText .ProfilePhotoDiv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#LatestNews .CardContent .TextDiv .BottomText .ProfileTextDiv{
    margin-left: 10px;
}
#LatestNews .CardContent .TextDiv .BottomText .ProfileTextDiv p:nth-child(1){
    color: var(--color-text-4);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 4px;
}
#LatestNews .CardContent .TextDiv .BottomText .ProfileTextDiv p:nth-child(2){
    color: var(--color-text-2);
    opacity: 60%;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
}
#LatestNews .ViewMoreCol{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-top: 20px;
    background: var(--color-1);
}
#LatestNews .ViewMoreCol a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--color-2);
    width: 183px;
    height: 68px;
    font-size: 500;
    font-weight:16px ;
    line-height: 24px;
    text-decoration: none;
    border-radius: 8px;
}
#LatestNews .ViewMoreCol a i{
    margin-left: 10px;
}
/*----------------
Testimonials
----------------*/
#Testimonials{
    padding: 40px 0;
    background: var(--color-1);
}
#Testimonials .CardContent{
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 7px 20px rgba(141, 40, 173, 0.15);
}
#Testimonials .CardContent .RateDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #FF7A00;
}
#Testimonials .CardContent .RateDiv i:not(:nth-child(1)){
    margin-left: 10px;
}
#Testimonials .CardContent .TextDiv p{
    text-align: start;
    color: var(--color-text-2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0;
}
#Testimonials .CardContent .ProfileDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Testimonials .CardContent .ProfileDiv .ProfileText p:nth-child(1){
    color: var(--color-text-4);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 4px;
    text-align: start;
}
#Testimonials .CardContent .ProfileDiv .ProfileText p:nth-child(2){
    color: var(--color-text-2);
    opacity: 60%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
    text-align: start;
}
#Testimonials .CardContent .ProfileDiv .ProfileImgDiv{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: gray;
}
#Testimonials .CardContent .ProfileDiv .ProfileImgDiv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#Testimonials .TestimonialsSwiper{
    padding-bottom: 100px;
}
/*----------------
Medias
----------------*/
@media (min-width:992px){
    .MobileNav{
        display:none;
    }
    .BottomMenu{
        display: none;
    }
}
@media (max-width:992px){
    header{
        height: 70px;
    }
    .DekstopMenu{
        display: none;
    }
    .DekstopNav{
        display: none;
    }
    .SectionTitle p{
        width: 100%;
    }
    #BestSellers .BestSellersSwiper{
        padding: 50px 0px;
    }
    #Testimonials .TestimonialsSwiper{
        padding-bottom: 50px;
    }
}